body {
  font-family: 'Courier New', monospace;
}

p {
  margin: 0px;
}

.contenedorPrincipal{
  display: flex;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.box {
  width: 150px;
  height: 150px;

  font-size: 12px;
  align-items: center;
}

.zoom {
  margin: 2px 2px;
}

.iDfooter {
  display: flex;
  justify-content: flex-end;
}

.color-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  opacity: 1;
}